/* header.scss */

.header {
  .navbar {
    background-color: #1e1e1e !important;
  }

  .nav-link {
    color: #ffffff !important;
    font-weight: bold !important;

    &.active-page {
      color: #397ab3 !important; // Highlight color for the active page
      position: relative;

      &:after {
        content: 'أنت هنا';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #397ab3;
        color: #1e1e1e;
        padding: 2px 5px;
        border-radius: 3px;
        font-size: 12px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      &:hover:after {
        opacity: 1;
      }
    }
  }

  .btn-logout {
    background-color: #265987 !important;
    border: none !important;
    cursor: pointer !important;
    padding: 10px 20px !important;
  }

  .btn-logout:hover {
    background-color: #265987ab !important;
  }

  .ms-auto {
    margin-left: auto !important;
  }

  .navbar-nav {
    .nav-item {
      margin-left: 10px !important;
    }
  }
}
