/* users.css */

/* Dark mode modal styling */
.dark-mode-modal {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  animation: fadeIn 0.5s ease;
}

.dark-mode-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}

.dark-mode-modal .form-group label {
  color: #ccc;
}

.dark-mode-modal .form-group input {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}

.dark-mode-modal .btn-primary {
  background-color: #3d278f !important;
  border-color: #0056b3;
}

.dark-mode-modal .btn-secondary {
  background-color: #3d278f !important;
  border-color: #333;
}

/* Fade-in animation for the modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
